@keyframes open_page {
    from {

        opacity: 0;
    }

    to {
        opacity: 100%;

    }
}

@keyframes close_page {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0;

    }
}

@keyframes open_splash {
    from {

        opacity: 0;

    }

    to {

        opacity: 100%;


    }
}

@keyframes close_splash {
    from {

        opacity: 100%;
    

    }

    to {

        opacity: 0;



    }
}
@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(270deg);
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: calc(187/4);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}